@import "../../styles/constants";
.button {
  padding: 0 20px;
  width: 100%;
  border-radius: 50px;
  background-color: #fff;
  color: $color_dark;
  &:hover {
    transition: 0.3s;
    background-color: $color_light_med;
  }
  &:active {
    transition: 0.2s;
    background-color: color_dark2;
    color: $color_light_high;
  }
}
.link {
  text-decoration: none;
  padding: 0 20px;
}
