$color_dark: #000000;
$color_dark1: #2c2c2c;
$color_dark2: #5a5a5a;

$color_light_high: #fff;
$color_light_med: #d5d5d5;
$color_light_low: gray;

$color_primary: #07939e;
$color_secondary: #005c63;
$color_teriary: rgba(0, 0, 0, 0.5);

$header_height: 70px;
$footer_height: 100px;
